/* GLOBALS */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

#title {
    margin: 10px 0px;
}

#equation {
   margin: 7px 0px;
}

#status {
    margin: 7px 0px;
}

.controls ul {
    padding: 0px;
}

.controls ul li {
    display: inline-block;
    margin: 10px 0px;
}

.button {
    background: #000000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: transparent;
    width: 150px;
    font-size: 14px;
    color: #e3e3e3;
    padding: 5px 10px;
}
.button:hover {
    border-color: red;
}
.button:active {
    border-color: darkred;
}
.button.disabled {
    /*background: #4a4a4a;*/
    background: lightgray;
    border-color: grey;
}

.center {
    margin-left: auto; margin-right: auto; text-align: center;
}

.canvas-center {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.reserve {
    min-height: 20px;
}


/* DROPDOWN */

.wrapper-dropdown {
    /* size and position */
    position: relative;     /* enable absolute positioning for children and pseudo elements */
    width: 400px;
    padding: 6px;
    margin: 0 auto;
    text-align: center;

    /* styles */
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #000;
    outline: none;
    cursor: pointer;

    /* font settings */
    font-weight: bold;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #000;
}

.wrapper-dropdown .dropdown {
    /* size and position */
    position: absolute;
    top: 100%;
    left: 0; /* size */
    right: 0; /* size */

    /* styles */
    background: #fff;
    font-weight: normal;

    /* hiding */
    display: none;
    /*opacity: 0;*/
    pointer-event: none;
}

.wrapper-dropdown li {
    list-style-type: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    background: #fff;
    /*
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: #000;
    */
    color: #000; /*#9e9e9e;*/
    padding: 6px;
}

.wrapper-dropdown .dropdown li:hover a {
    /*background: steelblue; /*#f3f8f8;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: #000;
}

/* active state */
.wrapper-dropdown.active .dropdown {
    display: block;
    /*opacity: 1;*/
    pointer-events: auto;
}

.wrapper-dropdown.active:after {
    border-color: #000 transparent;
    border-width: 6px 6px 0 6px;
    margin-top: -3px;
}

.wrapper-dropdown.active {
    /*
    background: steelblue;
    background: linear-gradient(to right, #4682b4 0%, #4682b4 78%, #b0c4de 78%, #b0c4de 100%);
    */
}

